<a href="https://colab.research.google.com/github/Bhavishya2912/letsupgrade-python/blob/master/Python_d2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pilot Question

In [ ]:
Altitude = int(input("enter altitude:"))

enter altitude:7056

In [ ]:
if Altitude < 1000:
 print("safe to land") 
elif Altitude < 5000:
 print("Bring down to 1000") 
else:
 print("Turn around ")

Turn around

In [ ]:
#Prime numbers

In [ ]:
for x in range(1,200):
 if x>1:
  for i in range(2,x):
    if x%i ==0:
      break;
  else:
      print(x, "is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
101 is prime
103 is prime
107 is prime
109 is prime
113 is prime
127 is prime
131 is prime
137 is prime
139 is prime
149 is prime
151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime
181 is prime
191 is prime
193 is prime
197 is prime
199 is prime